h3#axis axis css library

:markdown
  Axis is a custom-built css library for stylus that ships with roots. It might take a bit to get down all the shortcuts that axis offers, but once you do, I promise it will speed up your css coding signficiantly.

  [view axis css docs &raquo;](/axis)