h3#cli command line tool
  :markdown
    Once you have roots installed, it exposes a few useful commands for getting your project set up. You must be at least somewhat familiar with the command line to be able to use roots.

    `$ roots new name`   - creates a new project in the current directory called name    
    `$ roots compile`    - compiles, minifies, and compresses the project to the public folder    
    `$ roots watch`      - compiles the project, opens it on a local server, watches files for change, and live reloads    
    `$ roots update`     - installs a new version of roots if there is one    
    `$ roots js`         - wrapper for [bower](http://bower.io)

    ...and if you forget or need help, just type `roots help` for a list of available commands