h3#client-side client-side js
  :markdown
    Roots wraps a couple client-side javascript package managers, the default being [bower](http://bower.io). If you run `roots pkg`, it will expose bower's interface and you can interact with bower that way. Any command given after `roots pkg <command>` will be run as if it were running `bower <command>`. You do not need to have bower installed globally to use this. All packages will be installed into `assets/components`.

    To see bower's command options, run `roots pkg` and it will print them for you.

    In the future, roots will be compatible with more package managers, if you prefer one other than bower. As a test, we have added [a cdnjs package manager](https://github.com/jenus/cli-js) to v2.0.0. If you'd like to try this out, open the `~/.rootsrc` file and change the value of `package_manager` from `bower` to `cdnjs`. As we add more package managers, this interface will be made simpler.
