header
  a.logo(href='/') roots | where it all begins
  
  nav
    ul
      li
        a(href='#') overview
      li
        a(href='#') installation
      li
        a(href='#') commands
      li
        a(href='#') css library
      li
        a(href='#') contact