header
  a.title(href='/')

  nav
    ul
      li
        a(href='/#overview') overview
      li
        a(href='/#installation') installation
      li
        a(href='/#tutorials') tutorials
      li
        a(href='/docs') documentation
      li
        a(href='/axis') axis css
      li
        a(href='/#faq') faq