header
  a.logo(href='/') roots | where it all begins
  
  nav
    ul
      li
        a(href='#overview') overview
      li
        a(href='#installation') installation
      li
        a(href='#commands') commands
      li
        a(href='#css-library') css library
      li
        a(href='#help') help