#hero
  h2
    | roots 
    span &#9889; 
    | better css

#content.cssdocs

  #cssnav
    ul
      li.active
        a(href='#introduction') introduction
      li
        a(href='#settings') settings
      li
        a(href='#vendor') vendor
      li
        a(href='#utilities') utilities
      li
        a(href='#easing') easing
      li
        a(href='#typography') typography
      li
        a(href='#tables') tables
      li
        a(href='#reset') reset
      li
        a(href='#positioning') positioning
      li
        a(href='#interaction') interaction
      li
        a(href='#gradients') gradients
      li
        a(href='#forms') forms
      li
        a(href='#code') code
      li
        a(href='#buttons') buttons
      li
        a(href='#ui') ui
      li
        a(href='#animation') animation

  h3#introduction introduction
  :markdown
    Roots css is a very large library and contains a lot of functionality, but it should be an easy transition from regular css, less, or sass. With stylus, you can use brackets and semicolons or not, your choice. You can even mix them. Pasting straight css will compile perfectly, and nothing in this library overrides anything in regular css in a destructive manner. In addition, this library adds no extra weight to your css footprint unless you do it specifically. Roots css is an enhancement of regular css, and you can ease into it gradually, unlike some other libraries which require you to learn new syntax.

    There are two ways to call a mixin in stylus, the _mixin form_ or the _native form_. In the mixin form, you call the mixin like you would call a function, with the function name followed by parens and the arguments inside, separated by commas ex: `mixin(arg1, arg2)`. The native way you call the function like a css property with the function name followed by a colon then the arguments separated by spaces ex: `mixin: arg1 arg2`. Either way works fine, although I prefer the native syntax and will list examples here as such. When you call a mixin with no arguments, it must be followed by `()`.

  h3#settings settings
  :markdown
    There are a number of global settings in roots that you can and should feel free to override at any time. If you are using the [roots command line client](#), any project you generate will come with a copy of the roots settings file in the css and/or assets folder. I would list them all out here, but it's probably easier to just look at them directly.

    [Check out the settings variables &raquo;](#)

    ### vendor

    Everybody hates vendor prefixing. It's just a huge pain, and there have been half a million solutions to it. Roots CSS has the best one: don't worry about prefixes at all, ever. Don't do anything different. Just write the properties as they appear in the official spec and they will be prefixed for you automatically if necessary when compiled.

    **Examples:**    
        `translate: rotate(45deg)`    
        `box-shadow: 0 0 5px rgba(#000, .3)`    
     
  h3#utilities utilities
  :markdown

    The utilities module is a mixed bag of moderately to extremely useful css shortcuts.

    **`size()`**    
    This is the mixin I use most; it's a combination of width and height. Pass it a width and height or just one number which is set as the width and height. like this: `size: 50px 20px` or this: `size: 30px`. It defaults to `px` if you don't pass it a unit, so you can even call it like this if you want: `size: 10 27`

    **`bold()`**    
    Bold text. Makes way more sense and is a lot faster.

    **`italic()`**    
    Italic text.

    **`normal()`**    
    Removes all traces of boldenss and italic-ness from the text.

    **`group()`**    
    A way better name for clearfix. Can also be called as `clearfix()` if you really can't give up the crappy nonsensical word.

    **`inline-block()`**    
    Renders `display: inline-block`, except it works in all browsers including old IE.

    **`rounded()`**    
    Renders `border-radius: 999px;`

    **`no-select()`**    
    Sets `user-select` (prefixed) to none so that the text inside the specified element can't be selected.

    **`b()`**    
    Short alias for `border: 1px solid;`.

    **`bg(path, args...)`**    
    Shortcut for setting the background to an image. Call it with a quoted image path to render `background: url(path/image.jpg) no-repeat`. If you pass it more arguments after the image path, they will replace `no-repeat`.

    **`font-face(name, folder, weight = normal, style = normal)`**    
    Pass a name for the font and the folder it's in and it will declare the font-face using the lightweight and reliable [fontspring syntax](http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax). It will look for the font based on `folder/name.extension` - we'll take care of the extension. So if you passed it like this: `font-face: myfont '/fonts'`, it would look in `/fonts/myfont.ttf` for the ttf file, for example, and the font would be named `myfont` in your css.

    **`triangle(direction = up, size = 10px, color = #000)`**    
    Makes a little html triangle. pass it a direction, size, and color.

    **`image-replace(path, dimensions)`**    
    Image replacement. Pass it an image path and the dimensions of the image and it will replace get rid of any text in the div and render an image instead. But it's still semantic! Can also be called with `ir()`.

    **`raquo()`**    
    Puts a [raquo](http://www.raquo.net/) after whatever text is in your div semantically. Because raquos are awesome, but they aren't really that semantic.

    **`columns(count = 3, gap = 30px, width = null, rule = null)`**    
    Column-ize that shit. Takes number of columns, gap between columns, width of each column, and if you want a column rule (syntax like border). Combines `column-count`, `column-gap`, `column-width`, and `column-rule` into one convenient package.

    **`debug()`**    
    A moderately useful mixin - drop this at root level and it will put yellow or red borders around objects for which there are errors, like missing alt attributes on images or empty links. everything valid gets a greed border.

  h3#easing easing
  :markdown

    You seriously expect me to write out cubic bezier functions in this $6,800 suit? [Come on!](http://www.youtube.com/watch?v=81Nl7VYFEaI) Roots css has all the most common easing functions right here for you, in english™! You can use these anywhere, but they are probably most useful in a transition, like this for example: `transition: all .25s ease-in-sine`. It's almost like this was actually a part of css like it should be!

  h3#typography typography
  :markdown
    Everyone wants to have typography their own way so I'm not messing with any grids or vertical rhythms or anything here. Just the basics to make your type look nice, and a few shortcuts for uselessly long common properties.

    **`paragraph(size = font-size, margins = true)`**    
    sets the font to the specified size, adds a nice line-height, and unless you turn it off, adds appropriate margins for paragraphs.

    **`fs(size)`**    
    a shortcut for font-size

    **`upcase()`**    
    `text-transform: uppercase`. Can also be called as `uppercase()`

    **`downcase()`**    
    `text-transform: lowercase`. Can also be called as `lowercase()`

    **`reset-case()`**    
    `text-transform: none`. Just regular case

    **`h1(), h2(), h3(), h4(), h5(), h6()`**    
    nice default sizes and styles for headings

    **`link(color = blue, style = underline)`**    
    a boilerplate link default style. uses border-bottom for the underline by default for smooth transitions. the style parameter accepts `underline`, `darken`, `lighten`, or `glow`, and you can pass any valid color to the color parameter.

    **`reset-link()`**    
    takes all the styling off links, including the annoying underline on default stylus, and if you have the above link mixin, any borders and hover effects.

    **`text-selection(color = highlight-color, textColor = null)`**    
    sets the text selection color either to the default variable or to any color you pass in. sets the text color by default to white for dark hilight colors and black for light hilight colors, but you can override it if you want.

    **`ul(style = disc)`**    
    A nice, semantic, and unorderd list that scales with the font-size. Takes an optional style, which can be anything you would pass to `list-style-type` in css.

    **`ol()`**    
    Same thing as above, but an ordered list.

    **`inline-list(spacing = 20px)`**    
    Put this on a `ul` or `ol` and your list will be inline and work in any browser. Pass an optional spacing value to change the spacing between list items.

    **`reset-list()`**    
    Strips a list of all styles that would be there by default or from one of the above mixins.

    **`blockquote()`**    
    Nice default style for a blockquote. Expects the quote to be in a nested paragraph element and the citation to be in a cite element.

    -------
    _Each of the below mixins apply styles to elements which means they should be called at root level. If you accidentally call them nested under another element, they will render nothing and add a warning to the console._
    
    -------

    **`base(fonts = font-stack, size = font-size, color = font-color)`**    
    Applies the default font size, color, and font-family to the body, and adds better anti-aliasing. A great place to start for a custom site.

    **`headers()`**    
    Adds roots' header mixins to the `h1` - `h6` tags

    **`lists()`**    
    Adds roots' list styles to `ol` and `ul`.

    **`bold-italic()`**    
    Adds bold and italic styles to `b`, `i`, `strong`, and `em` tags.

    **`typography()`**    
    Executes `bold-italic()`, `headers()`, `text-selection()`, and `lists()`, adds `paragraph()` to the `p` tag, `small-text()` to the `small` tag, `link()` to the `a` tag, and `blockquote()` to the `blockquote` tag - intelligent defaults for all the typography basics.

  h3#tables tables
  :markdown
    The tables are ported directly from twitter bootstrap, because they did a good job with them. It's just one mixin which takes care of all the aspects of a nice table.

    **`table(border = true, striped = true, condensed = false)`**    
    Add this to a `table` tag to get a nice-looking table. All options are boolean and do just about what they say

    **`tables()`**    
    Root level mixin that just adds `table()` to the `table` tag. Almost always more convenient.

  h3#reset reset
  :markdown
    When you're trying to reset browser css, there are two ways to do it. The global reset gets rid of all browser default styles, and can be called with `global-reset()`. In addition, you can use [normalize.css](http://necolas.github.com/normalize.css/) to normalize styles across browsers. Just call `normalize()`. Both of these should be executed at root level.

  h3#positioning positioning
  :markdown
    Let's face it, writing out absolute, relative, or fixed positioning and the dimensions is a pain and takes a long time. So I ported (read: stole) this incredible couple utilities from [nib](https://github.com/visionmedia/nib), which allow you to write out positions like such:

    `absolute: top left`
    `absolute: top 5px right`
    `absolute: top left 5px`
    `absolute: bottom 5px left 5px`

    Of course absolute can be substituted for relative or fixed. When you call `top`, `bottom`, `left`, or `right` without a value after it, the value is assumed to be zero.

  h3#interaction interaction
  :markdown
    This module is where stylus' power really shines. Often times, we find ourselves executing the same types of hover effects over and over. Hover this and it's underlined. Hover this and it lightens or darkens the background color, etc. This set of mixins are shortcuts for these situations.

    **`hover-darken(percent = 15%)`**    
    Looks first for a background color defined on the element, then for a color. If it finds either of these, it will darken them by the specified percentage when the element is hovered. If not, it will throw a warning that the element needs a color or background color.

    **`hover-lighten(percent = 15%)`**    
    Exact same as above, but it lightens the color instead.

    **`hover-underline()`**    
    Uses border-bottom to add an underline to the specified element on hover. If you already have a border on the bottom, this will probably cause an issue.

    **`hover-pop(scale = 1.2, rotate = null, shadow = null)`**    
    When you hover an element, it will scale up so it appears to be popping out. Works best with a css transition. If you specify a degree measure (like `45deg`), it will rotate that much as it pops, and if you set shadow to true, it will add a little drop shadow as it comes out. An example of a call with all params specified: `hover-pop: 1.2 15deg true`

    **`hover-fade(amount)`**    
    When the element is hovered, it's opacity is set to the specified amount. Also works great with a transition.

    **`hover-color(color)`**    
    Looks first for a background color, then a color on the current element. If it finds one, it will swap it for the color passed as an argument. Also looks much better with a transition.

  h3#gradients gradients
  :markdown
    Gradients are a huge pain in css, but roots makes life a bit easier on that front. There are a number of methods available that you can utilize to make gradients easier, ranging from finer control to simpler and more generic mixins. All credit for the incredible base gradient logic goes again to TJ and [nib](https://github.com/visionmedia/nib), which I shamelessly ported here. Open source ftw!

    **`linear-gradient(start, stops...)`**    
    Probably the most insane mixin in this library. It can be used as the value of a background, and will automatically prefix itself with multiple background properties. The way it's declared is with an optional starting point (top, bottom, left, right, defaults to top if not provided) then gradient stops, which is a percentage followed by a space followed by a color. A few examples:

    `background: linear-gradient(top, red, green, blue)`    
    `background: linear-gradient(bottom, red, green 50%, blue)`    
    `background: linear-gradient(bottom, red, 50% green, blue)`    
    `background: linear-gradient(bottom, red, 50% green, 90% white, blue)`    

    **`gradient(color1, color2)`**    
    Simple top-to-bottom two-color gradient. IE support if pie is enabled.

    **`simple-gradient(color, strength = 10%)`**    
    Pass the base color, the mixin will lighten and darken it by the specified strength and create a simple gradient with the base color being the middle average.

    **`noise-gradient(color1, color2, imagePath = '/img/noise.png')`**    
    Roots ships with a tiny light noise image tile which is useful for adding a bit of randomness to an otherwise solid color. This gradient adds that image on top, which gives it a slightly more organic feel. Of course if you have your own noise or other image, you can override the default here.

    **`simple-noise-gradient(color, strength = 10%, imagePath = '/img/noise.png)`**    
    Same as simple gradient, but includes the noise image over the top.

  h3#forms forms
  :markdown
    Forms are one of the most difficult and annoying things to style. It's impossible to make assumptions about the html structure of the forms, so many of the core mixins here just provides basic nicer-looking form fields without trying to align things correctly for you (although a few mixins present that option).

    **`input(color = light-blue, width = 250px)`**    
    The most important mixin here. Nice-looking and basic default styles for input fields. Takes an optional color and width, and comes with a style when focused.

    **`input-disabled()`**    
    Put this on an input and it will style it so that it looks disabled. Make sure to actually disable the input in your html as well.

    **`label(display = inline-block)`**    
    Super basic label styles. Pass it an optional value for `display`.

    **`field(direction = right, width = 370px)`**    
    Often times it's easier to wrap your input and label in a div called "field" so the input and label can be floated, positioned, and manipulated without screwing up the rest of the form. That's what this mixin is for - put it on a div that contains a label and an input. Then feed it a direction to align (default is right), and an optional width.

    **`input-error(color = red)`**    
    Throw this on an input element to give it a red hue indicitive of an egregious error. Best used when applied to a class call `.error`, for example. Can also be called on a wrapper div as `field-error(color)` (if you are using wrapper divs) to color the label text red as well.

    **`input-warning(color = yellow)`**    
    Exactly the same as above, but yellow for warning. Can also be called as `field-warning(color)`, same as above.

    **`input-success(color = green)`**    
    Exactly the same as the two others but with a green color. Again, you can use `field-success(color)` on a wrapper div for the same effect.

    --------
    _These form helpers can be applied at root level to apply defaults intelligently to certain classes and elements._

    --------

    **`forms()`**    
    Applies the `input` mixin to all types of input and if classes of `disabled`, `success`, `warning`, and/or `error` are applied to an input, they are styled appropriately.

    **`fields()`**    
    Applies the `field()` mixin to any element with a `field` class. If a `success`, `warning`, or `error` class is applied, they are also styled appropriately.

  h3#code code
  :markdown
    A simple modules that applies appropriate styles to `code` and `pre` blocks.

    **`code(color = #DF5C33)`**    
    Styles inline code snippets on the page. Defaults to a nice attention-catching red, but accepts any other color as well.

    **`pre()`**    
    Monospace font and a light background and border for longer blocks of code.

    **`code-blocks()`**    
    This is a _root level mixin_ which applies the `code` and `pre` mixins to `code` and `pre` elements automatically.

  h3#buttons buttons
  :markdown
    This begins the UI section of roots, which is designed to be as modular and flexible as possible. Since the buttons are so complex, they are split into their own section, and below this is a collection of other smaller UI components.

    **`simple-button(color = default, size = 'medium')`**    
    A simple, flat, one-color button. Example below. Takes a color and a size. Color can be any valid color, and the size can be `small`, `medium`, `large`, or a number from 1 to infinity, no units necessary.

    **`button(color = default, size = 'medium')`**    
    A more shinier and modern button, same parameters as the simple button. Any color, any size. Very flexible and useful. Example below.

    **`button-disabled()`**    
    Lay this mixin down on any roots-css button and it will appear to be disabled. Again, make sure you actually disable it in your html.

    **`buttons()`**    
    This is _a root level mixin_ that applies the `simple-button` mixin to the class `btn-simple` and the `button` mixin to the class `btn`. If you add a `disabled` class to either one, it will render appropriately as well.

  h3#ui ui
  :markdown
    There are a variety of UI components I find myself using over and over which I've tried to abstract into flexible mixins here.

    **`area(color = #f5f5f5)`**    
    Light grey background, padding, and subtle inner shadow provide a nice box around some content. You can change the color, but don't get too crazy.

    **`notice(width = false, color = #f5f5f5)`**    
    This is best used in notifications or flash messages, as will be seen below. This is the version that you can customize more - just a rectangular box with bold text and a light gradient in the background, intended for sitting at the top of the screen and notifying the user of something.

    **`flash(type = notice)`**    
    This is a standard notice, but comes pre-populated with the four most common flavors. `notice`, `success`, `error`, and `warning`. Examples below.

    **`breadcrumb(character = '/', spacing = 10px, divider-color = #cdcdcd)`**    
    Place this on a `ul` and it will create an inline list separated by the specified character. Nice for breadcrumb trails - example below.

    **`bubble(pointer = left, color = #eee, width = false)`**    
    Creates a little speech bubble. Specify if you want the pointer on the `left`, `center`, or `right`, add a color, and set a width if you'd like. Very helpful, example below.

    **`figure(color = default, dimensions = false)`**    
    Place this on a figure element and it will nicely style an `img` and `figcaption` nested inside. Example below.

    **`nav(size = 1, color = #222, link-color = #fff, fixed = true)`**    
    Creates a standard navigation bar. The size parameter just scales everything up or down, the rest is self-explanitory. Make sure to put this mixin on a `nav` element with a  `ul` and/or `h1` inside for the navigation and title respetively. Click here to see an example.

    **``flash-notices()``**    
    This is a _root level mixin_ which adds the appropriate flash notification mixin to elements with the classes `.flash .error`, `.flash .success`, `.flash .notice`, or `.flash .warning`. Must have both of the classes. It will make sense once you start styling them.

  h3#animation animation
  :markdown
    There are a bunch of animations available in roots-css that have been ported from [animate.css](http://daneden.me/animate/). If you @import `roots-css/animation`, they will be made available and you can use any of them in your project. Note that any animation with "big" at the end has been left out because these are horrendous and should never be used. And if you really want to use it, you can write it yourself. An example of usage would be as such:

          @import 'roots-css/animation'
          .test
            animation: bounce 3s infinite

