@media screen and (max-width: 1031px) {
  header .title {
    float: none;
    text-align: center;
  }
  header nav {
    text-align: center;
  }
}
@media screen and (max-width: 615px) {
  #hero ul li {
    width: 100%;
  }
}
