#hero
  h2
    | roots 
    span &#9889; 
    | documentation

#content.docs

  #docnav
    ul
      li
        a(href='#tutorial') tutorial
      li
        a(href='#cli') command line tool
      li
        a(href='#axis') axis css
      li
        a(href='#languages') languages
      li
        a(href='#dynamic') dynamic content
      li
        a(href='#precompile') precompiled templates
      li
        a(href='#client-side') client-side js
      li
        a(href='#server') roots with a server
      li
        a(href='#plugins') plugin api
      li
        a(href='#multipass') multipass compilation

  include modules/tutorial
  include modules/cli
  include modules/axis
  include modules/supported-languages
  include modules/dynamic-content
  include modules/precompiled-templates
  include modules/client-js
  include modules/server
  include modules/plugins
  include modules/multipass-compile
