h3#reset reset
:markdown
  When you're trying to reset browser css, there are three ways to do it. The global reset gets rid of all browser default styles, and can be called with `global-reset()`. In addition, you can use [normalize.css](http://necolas.github.com/normalize.css/) to normalize styles across browsers. Just call `normalize-css()`. For projects that conform to a vertical rhythm or baseline grid, an alternative version of `normalize-css()` is available; just call `establish-baseline('normalize')`. All of these should be called at root level.
